<li data-id=<%= category.id %> class='js-category_item'>
  <span><%= category.title %></span>
  <span class='glyphicon glyphicon-plus js-handle_hidden'></span>

  <div class='js-toggable' style='display:none'>
    <ul class='categories_children'>
      <%= render partial: 'children', locals: {children: category.children} %>
    </ul>
    <%= link_to t('categories.new'),
      new_manage_metadata_category_path(ancestry: (category.ancestor_ids << category.id).join('/')),
      remote: true, class: 'js-new_subcategory', 'data-parent-id': category.id %>
  </div>
</li>





