<%= link_to 'К всему дереву', manage_metadata_categories_path, style: 'float:right' %>


<% if @category.ancestors.any? %>
  <h4>Родители</h4>
  <% @category.ancestors.each do |parent| %>
    <%= link_to parent.title, manage_metadata_category_path(parent) %>
  <% end %>
<% end %>


<h1>Категория "<%= @category.title %>"</h1>

<% if @category.has_children? %>
  <h4>Дети</h4>
  <% @category.children.each do |child| %>
    <%= link_to child.title, manage_metadata_category_path(child) %>
  <% end %>
<% end %>
