<div class='col-xs-4'>
  <%= simple_form_for :search, method: 'GET', url: manage_organizations_path do |f| %>
    <%= f.input :state,
      label: false,
      label_method: -> (name) { t('state.' + name.to_s) },
      input_html: { name: 'state' },
      as: :radio_buttons,
      collection: Organization.states_list << :all,
      checked: params['state'] %>
    <%= f.input :text,
      label: false,
      input_html: { name: 'text', value: params['text'] } %>
    <%= f.submit 'Фильтр', class: 'btn btn-default' %>
  <% end %>
</div>

