<p>Состояние: <%= @organization.state %></p>
<%= link_to 'В черновики', change_state_manage_organization_path(@organization, new_state: 'draft'), remote: true if @organization.can_to_draft? %>
<%= link_to 'Опубликовать', change_state_manage_organization_path(@organization, new_state: 'published'), remote: true if @organization.can_to_published? %>

