<h1>Организации</h1>
<div class='row'>
  <div class='col-xs-6'>
    <%= render partial: 'filter' %>
    <%= paginate @organizations %>
    <% @organizations.each do |organization| %>
      <div class='organization'>
        <%= link_to organization.title, manage_organization_path(organization) %>
      </div>
    <% end %>
    <%= paginate @organizations %>
  </div>
</div>
