<span><strong>Состояние:</strong> <%= t('state.' + @organization.state) %></span>
<%= link_to 'В черновики', change_state_my_organization_path(@organization, new_state: 'draft'), remote: true if @organization.can_to_draft? %>
<%= link_to 'Опубликовать', change_state_my_organization_path(@organization, new_state: 'moderation'), class: 'btn btn-success', remote: true if @organization.can_to_moderation? %>
