<div class='row'>
  <div class='col-xs-12'>
    Здравствуйте, <%= user.name %>. Ваша заявка на владение организацией <strong><%= organization.title %></strong> рассмотрена.
    Её статус: <%= resource_request.status == 'allow' ? 'Разрешено' : 'Отказано' %>.
    <%= link_to organization.title, organization_url(organization, :city_slug => organization.city.slug), target: '_blank' %>.
  </div>
</div>

