<div class='row'>
  <div class='col-xs-12'>
    Здравствуйте, <%= user.name %>. Вам подарили организацию
    <%= link_to organization.title, organization_url(organization, :city_slug => organization.city.slug), target: '_blank' %>.
  </div>
</div>

