<div class='owners_panel'>
  <div class='js-state_block'>
    <%= render partial: 'manage/organizations/state_manage' %>
  </div>
  <%= link_to 'Редактировать', edit_manage_organization_path(@organization) %>
    <p><strong>Дополнения:</strong>
      <% @organization.permit_services.each do |service| %>
        <%= link_to t('activerecord.attributes.service_pack.' + service.to_s), ['/manage/organizations', @organization.id.to_s, service.to_s].join('/') %>
      <% end %>
    </p>
</div>
