<div class='panel panel-default owners_panel'>
  <%= link_to 'Редактировать', edit_my_organization_path(@organization) %>
  <%= link_to 'Статистика', statistics_my_organization_path(@organization) %>
</div>

