<div class='owners_panel'>
  <div class='js-state_block'>
    <% if current_user.present? && current_user.has_permission?(role: 'admin') %>
      <%= render partial: 'manage/organizations/state_manage' %>
    <% else %>
      <%= render partial: 'my/organizations/state_manage' %>
    <% end %>
  </div>
  <%= link_to 'Редактировать', edit_my_organization_path(@organization) %>
</div>

