= f.input :range_values,
  label: false,
  input_html: { class: 'js-slider', name: "ranges[#{property.id}]",
  data: { min: massive(property).min,
    value: value(property, params['ranges']),
    max: massive(property).max,
    ticks: massive(property).sort,
    ticks_labels: massive(property).sort } }


