= f.input :list_items,
  label: false,
  input_html: {name: 'list_items[]'},
  as: property.show_on_filter_as,
  collection: property.list_items,
  checked: params.try(:[], 'list_items'),
  selected: params.try(:[], 'list_items'),
  include_blank: true


