= f.input :list_items,
  label: false,
  input_html: { name: 'list_items[]' },
  as: property.show_on_filter_as,
  collection: property.list_items,
  checked: params['list_items'],
  selected: params['list_items'],
  include_blank: true


